<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengcheng.dao.sell.SellOrderVideoMapper">

    <insert id="addOne" useGeneratedKeys="true" keyProperty="id" parameterType="com.pengcheng.domain.sell.SellOrderVideo">
        insert into sell_order_video(sell_order_id,path) values(${sellOrderId},#{path});
    </insert>

</mapper>