<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengcheng.dao.sell.UserSellOrderMapper">

    <insert id="addOne" useGeneratedKeys="true" keyProperty="id" parameterType="com.pengcheng.domain.sell.UserSellOrder">
        insert into user_sell_order(user_id,sell_order_id) values(${userId},${sellOrderId});
    </insert>

</mapper>