@charset "gb2312";
/* CSS Document */
* { margin: 0; padding: 0 }
body { background: #DDD6CC; font: 12px "ו", "Arial Narrow", HELVETICA; color: #3F3E3C; line-height: 1.5; }
img { border: 0; vertical-align: middle }
p { display: block; }
ul { list-style: none; }
a { color: #a6a6a6; text-decoration: none; transition: All 0.5s ease; -webkit-transition: All 0.5s ease; -moz-transition: All 0.5s ease; -o-transition: All 0.5s ease; }
a:hover { color: #000; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
/* nav */
header { width: 100%; height: 43px; background: -webkit-gradient(linear, 78% 100%, 78% 41%, from(#EFEEEC), to(#fff)); box-shadow: #D0C9C0 2px 2px 3px }
header nav { margin: 0 auto; width: 980px; text-align: center }
header nav ul li { line-height: 43px; display: block }
header nav ul li a { color: #484848; float: left; padding: 0 20px; margin-right: 2px; }
header nav ul li a:hover, #nav_current { color: #fff; background: #F16E50; transform: skew(-20deg); -webkit-transform: skew(-20deg); -moz-transform: skew(-20deg); -o-transform: skew(-20deg); }
/* mainContent */
.mainContent { background: #E8E5DD; width: 1000px; margin: 20px auto; overflow: hidden }
aside { width: 270px; float: left; }
.avatar { margin: 20px auto; width: 160px; height: 160px; border-radius: 160px; -moz-border-radius: 160px; -webkit-border-radius: 160px; overflow: hidden; }
.avatar a { display: block; padding-top: 97px; width: 160px; height: 63px; background: url(../../image/personalCenter/photo.jpg) no-repeat; background-size: 160px 160px }
.avatar a span { display: block; margin-top: 63px; padding-top: 8px; width: 160px; height: 55px; text-align: center; font-size: 16px; line-height: 20px; color: #fff; background: rgba(0, 0, 0, .5); -webkit-transition: margin-top .2s ease-in-out; -moz-transition: margin-top .2s ease-in-out; -o-transition: margin-top .2s ease-in-out; transition: margin-top .2s ease-in-out; }
.avatar a:hover span { display: block; margin-top: 0; }
.topspaceinfo { background: #f16e50; padding: 40px 20px; color: #fff }
.topspaceinfo h1 { font-size: 16px; line-height: 40px }
.userinfo { padding: 20px 30px 30px; font-size: 14px; line-height: 28px; color: #666; }
.userinfo a { color: #f16e50; }
.userinfo a:hover { color: #000 }
.q-fans, .btns a { padding: 0 10px }
.q-fans a { font-weight: bold; }
.btns a { border-right: #dad9d5 1px solid; }
aside section { display: block; overflow: hidden }
aside section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f16e50;
    color: #FFF;
    height: 60px;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 1px solid darkred;
}
aside section.current h2 {
    color: #f16e50;
    background: #FFF;
}
.newpic ul, .taglist ul { padding: 20px 30px; overflow: hidden }
.newpic ul li { display: inline; width: 48px; height: 48px; }
.newpic ul li img { width: 48px; height: 48px; border: 0; display: block; float: left; border: 1px solid transparent; }
.newpic ul li img:hover { opacity: 0.5 }
.taglist ul li a { padding: 2px 5px; display: inline-block; float: left; margin-right: 5px; color: #454545; }
.taglist ul li a:hover { background: #f16e50; color: #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px }
.blogitem { width: 730px; background: #fff; float: right }
.blogitem article { border-bottom: #F4F3EF 40px solid; }
.title { background: url(../../image/personalCenter/titlebg.png) no-repeat 5% 80%; font-size: 20px; line-height: 28px; display: inline-block; padding: 38px 60px 8px 80px; border-bottom: 1px solid #e2e2e2; width: 100%; }
.title a { color: #454545; }
.title a:hover { padding: 20px }
.text { font-size: 14px; padding: 20px 40px; }
.text p { line-height: 24px; margin-bottom: 10px }
.textimg { text-align: center }
.textimg img { max-width: 500px; width:expression(document.body.clientWidth > 500? "500px": "auto" );}/*for ie6*/
.textfoot { padding: 20px 60px; border-top: 1px solid #dddcdb; text-align: right; box-shadow: #999 2px 2px 3px }
.textfoot a { margin-left: 10px; }
.pages { padding: 0 60px 25px; background: #F4F3EF; text-align: right }
.pages span { background: #f16e50; color: #fff; }
.pages a { background: #fff; color: #454545; padding: 5px 8px; border: none; margin: 0 0 0 5px; }
.pages span { padding: 5px 8px; border: none; margin: 0 0 0 5px; }
.pages a:hover { background: #CCC }
/* footer */
footer { border-top: 9px solid #f16e50; background: #242221; width: 100%; }
.footavatar { width: 700px; margin: auto; position: relative; color: #666; }
.footavatar img{ height:110px}
.footphoto { position: absolute; top: -58px; left: 20px; display: block; border: #F16E50 5px solid; }
.footinfo { display: block; padding: 0 0 0 160px }
.fname { color: #f16e50; margin-top: 16px; font-size: 18px; line-height: 28px; }
.fname a { color: #f16e50; }
.finfo { line-height: 22px; }
.visitor { width: 800px; margin: 40px auto 0; clear: both; border-top: 1px solid #32302e; padding-top: 40px; overflow: hidden; }
.visitor h2 { color: #fff; font-size: 14px; font-weight: normal; padding: 0 20px 0 }
.visitor ul { padding: 20px }
.visitor ul li img { width: 78px; height: 78px; display: block; border: #FFF 2px solid }
.visitor ul li a { float: left; margin-right: 10px }
.visitor ul li a:hover { opacity: 0.5 }
.Copyright { text-align: center; color: #959595; margin: 40px 0 0 }
.Copyright ul a { color: #f16e50; display: inline; padding: 0 10px; }
.Copyright ul a:nth-child(-n+3) { border-right: #999 1px solid }
.Copyright ul a:hover { color: #ff8b70; }
.clear{clear:both;}
.rowInfo{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowInfo label{
    color: #f16e50;
    font-size: 48px;
}
.rowInfo label.left{
    margin-right: 10px;
}
.rowInfo label.right{
    margin-left: 10px;
}
.rowInfo.vipExplain label{
    font-size: 25px;
}
.rowInfo.vipExplain label.left{
    color: dodgerblue;
    font-size: 20px;
}
.rowInfo.vipExplain label.right{
    color: dodgerblue;
    font-size: 20px;
}
.rowInfo.detail{
    height: 30px;
}

.blue_button {-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;-moz-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2);-webkit-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2);box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2);border: 1px solid;padding: 8px 12px;color: #fff;font-family: "Myriad Pro", Arial, Tahoma, sans-serif;font-size: 1.4em;font-weight: bold;text-shadow: -1px -1px rgba(0,0,0,0.1), 0 0 15px rgba(255,255,255,0.75);white-space: nowrap;background: #777;border-color: #777;text-decoration: none;font-style: normal;text-transform: none;position: relative;}
.blue_button:hover,.blue_button:focus {bottom: 1px;-moz-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 3px 2px rgba(0,0,0,0.2);-webkit-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 3px 2px rgba(0,0,0,0.2);box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 3px 2px rgba(0,0,0,0.2);background: #999;border-color: #999; /* Default color */}
.blue_button:active {top: 1px;-moz-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2);-webkit-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2);box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2);}
.blue_button {
    background: #166ba9;
    border-color: #166ba9;
    cursor: pointer;
}








































