<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengcheng.dao.AreaMapper">

    <select id="list" resultType="com.pengcheng.domain.Area">
        select id,name from area;
    </select>

    <select id="listSonByAreaId" resultType="com.pengcheng.domain.AreaSon">
        select id,area_id as areaId,name from area_son where area_id=${areaId};
    </select>

</mapper>