<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengcheng.dao.InviteCodeMapper">

    <select id="findByCode" resultType="com.pengcheng.domain.InviteCode">
        select id,invite_code as inviteCode from invite_code where invite_code=#{inviteCode};
    </select>

    <delete id="deleteByCode">
        delete from invite_code where invite_code=#{inviteCode};
    </delete>

</mapper>